<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="roleForm">
    <form [formGroup]="roleForm">
      <input formControlName="completed" hidden type="text" />
      <ng-template matStepLabel>Choose a role</ng-template>
      <mat-grid-list class="role-grid" cols="2" rowHeight="100px">
        <mat-grid-tile
            [colspan]="1"
            [rowspan]="1">
            <div class="role-container">
              <mat-icon class="role-icon">tv</mat-icon>
            </div>
        </mat-grid-tile>
        <mat-grid-tile
            [colspan]="1"
            [rowspan]="1">
            <div class="role-container">
              <mat-icon class="role-icon">cast</mat-icon>
            </div>
        </mat-grid-tile>
        <mat-grid-tile
            [colspan]="1"
            [rowspan]="1">
            <div class="role-container">
              <button class="role-title" (click)="chooseRole(true)" mat-button>View a stream</button>
            </div>
        </mat-grid-tile>
        <mat-grid-tile
            [colspan]="1"
            [rowspan]="1">
            <div class="role-container">
              <button class="role-title" (click)="chooseRole(false)" mat-button>Host a stream</button>
            </div>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </mat-step>
  <mat-step [stepControl]="serverForm">
    <form class="form-margin" [formGroup]="serverForm">
      <ng-template matStepLabel>Connect to a server</ng-template>
      <mat-form-field class="full-width">
        <input (focus)="badServer = false" [readonly]="connectingToServer" formControlName="serverAddress" matInput placeholder="Server address" required type="url" [errorStateMatcher]="serverErrorStateMatcher">
        <mat-error>
          We can't seem to connect to SOMS on this server. Please make sure this server is up and running SOMS
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <textarea (focus)="badKey = false" [readonly]="connectingToServer" formControlName="authenticationKey" matInput placeholder="Authentication key (optional)" [errorStateMatcher]="keyErrorStateMatcher"></textarea>
        <mat-error *ngIf="serverForm.controls.authenticationKey.value.length === 0">
          This server requires a key to connect. Please supply one here
        </mat-error>
        <mat-error *ngIf="serverForm.controls.authenticationKey.value.length !== 0">
          This key was not accepted by the server. Double-check that the key is correct
        </mat-error>
      </mat-form-field>
      <button (click)="connectToServer()" color="primary" [disabled]="connectingToServer" mat-button>Connect to server</button>
      <div class="center-children" *ngIf="connectingToServer">
        <mat-progress-spinner
          class=""
          color="primary"
          mode="indeterminate">
        </mat-progress-spinner>
        <p class="loading-message">Connecting to server...</p>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <form class="form-margin" [formGroup]="roomForm">
      <ng-template matStepLabel>Select a room</ng-template>
        <mat-form-field class="full-width">
          <input formControlName="roomName" (input)="badRoomName = false" matInput placeholder="Room name" required type="url" [errorStateMatcher]="roomNameErrorStateMatcher">
          <mat-error *ngIf="roomForm.controls.roomName.value.length === 0">
            Please enter a room name
          </mat-error>
          <mat-error *ngIf="viewer && roomForm.controls.roomName.value.length !== 0">
            Room does not exist
          </mat-error>
          <mat-error *ngIf="!viewer && roomForm.controls.roomName.value.length !== 0">
            Room already exists
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input formControlName="roomPassword" (input)="badRoomPassword = false" matInput placeholder="Password (optional)" type="password" [errorStateMatcher]="roomPasswordErrorStateMatcher">
          <mat-error *ngIf="roomForm.controls.roomPassword.value.length === 0">
            This room requires a password
          </mat-error>
          <mat-error *ngIf="roomForm.controls.roomPassword.value.length !== 0">
            Incorrect password
          </mat-error>
        </mat-form-field>
        <button (click)="handleRoomForm()" color="primary" mat-button>{{ viewer ? 'Join' : 'Create' }} room</button>
    </form>
  </mat-step>
</mat-horizontal-stepper>
